flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-RESTful==0.3.10
flask-restful-swagger==0.20.2
flask-restplus==0.13.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
Jinja2==3.1.4
jsonpickle==3.0.4
jsonschema==4.22.0
SQLAlchemy==2.0.30
sqlparse==0.5.0
swagger-ui-py==23.9.23
Werkzeug==3.0.3
